*{
    padding: 0%;
    margin: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header{
    display: flex;  
    justify-content: space-between;
    align-items: center; 
    padding: 8px; 
}

.logo img{
    height:40px
}

.links ul{
    display: flex;
    padding: 0%;
    margin: 0%;
    gap: 16px;
    margin-right: 20px;
}

.links ul li{
    list-style: none
}

.banner{
    background-color: rgb(14, 14, 59);
    color: white;
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 48px;
}

.banner p{
    font-size: 18px;
    margin-bottom: 20px;
}

button{
    font-size: 18px;
    padding: 8px 16px;
    color: rgb(14, 14, 59);
    background-color: white;
    border: none;
    border-radius: 8px;
    font-weight: 500;
}

.img img{
    width: 300px;
    border-radius: 12px;
background: linear-gradient(145deg, #cacaca, #f0f0f0);
box-shadow:  7px 7px 14px #cccccc,
             -7px -7px 14px #f4f4f4;
}

.img{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container h2{
    text-align: center;
    margin-bottom: 20px;
}

.container{
    padding: 64px 0;
}

.quote{
    padding: 120px;
    background-color: #eee;
}

.quote p{
    font-style: italic;
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}

.footer{
    padding: 32px 0;
    text-align: center;
    font-size: 16px;

}

.respon{
    display: none;
}

@media (max-width: 600px) {

    .respon{
        display: block;
    }
    .links li{
        display: none;
    }

    .img{
        flex-direction: column;
        gap: 20px;
    }

    .fa-bars{
        display: block;
        cursor: pointer;
        color: #0e0e3b;
        font-size: 20px;
    }

    .fa-xmark{
        display: none;
        color: #0e0e3b;
        font-size: 20px;
        cursor: pointer;
    }
    
.quote{
    padding: 50px 25px;
    background-color: #eee;
}

.quote p{
    font-style: italic;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}


.banner{
    background-color: rgb(14, 14, 59);
    color: white;
    padding: 200px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 22px;
}

.banner p{
    font-size: 14px;
    margin-bottom: 20px;
}

button{
    font-size: 14px;
    padding: 5px 10px;
    color: #0e0e3b;
    background-color: white;
    border: none;
    border-radius: 8px;
    font-weight: 500;
}

.img img{
    width: 300px;
    border-radius: 12px;
background: linear-gradient(145deg, #cacaca, #f0f0f0);
box-shadow:  7px 7px 14px #cccccc,
             -7px -7px 14px #f4f4f4;
}

.links1{
   display:block;
   background-color:#e9ebec;
   height: auto;
   width: 300px;
   position: absolute;
   right: 0%;
   border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
   padding: 0px 1px 0px 1px;
    display: none;
    z-index: 2;

    
    animation-name: animatemodal;
    animation-duration: .4s;
}

.links1 li{
    text-decoration: none;
    color: #0e0e3b;
    list-style: none;
    padding: 15px 10px;
    background-color: #d2d3d3;
    margin-bottom: 1px;
    text-align: center;
    transition: .4s;
  
}

.links1 li:last-child{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.links1 li:hover{
    background-color: #474747 ;
    color: white;
}

}


@keyframes animatemodal{
    from{
        top: -58px;
        opacity: 0;
    }

    to{
        top: 58px;
        opacity:1;
    }
}